AuctionWebSOAPClient/src/conf/xml-resources/web-service-references/AuctionWebBidWS/wsdl/localhost_8080/AuctionWeb/AuctionWebBidWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://AuctionWeb.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://AuctionWeb.me.org/">

<xs:element name="auctionUser" type="tns:auctionUser"/>

<xs:element name="bid" type="tns:bid"/>

<xs:element name="bidForAuction" type="tns:bidForAuction"/>

<xs:element name="bidForAuctionResponse" type="tns:bidForAuctionResponse"/>

<xs:element name="getActiveAuctions" type="tns:getActiveAuctions"/>

<xs:element name="getActiveAuctionsResponse" type="tns:getActiveAuctionsResponse"/>

<xs:element name="product" type="tns:product"/>

<xs:complexType name="bidForAuction">
<xs:sequence>
<xs:element name="arg0" type="tns:bid" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bid">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="buyer" type="tns:auctionUser" minOccurs="0"/>
<xs:element name="product" type="tns:product" minOccurs="0"/>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="auctionUser">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="pic" type="xs:string" minOccurs="0"/>
<xs:element name="products" type="tns:product" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="seller" type="tns:auctionUser" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="imageURL" type="xs:string" minOccurs="0"/>
<xs:element name="shipsTo" type="xs:string" minOccurs="0"/>
<xs:element name="startingPrice" type="xs:double"/>
<xs:element name="isPublished" type="xs:boolean"/>
<xs:element name="expirationDate" type="tns:date" minOccurs="0"/>
<xs:element name="isExpired" type="xs:boolean" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="date">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="bidForAuctionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActiveAuctions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getActiveAuctionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>